body {
  font-family: verdana;
}

.content {
  max-width: 500px;
  margin: 0 auto;
}

#number {
  text-align: center;
  width: 100%;
  font-size: 25px;
  height: 50px;
}

#result {
  text-align: center;
  font-size: 25px
}
